NET "CLK" LOC = "B8" | IOSTANDARD = LVTTL; #MCLK
NET "LED0" LOC = "M5" | IOSTANDARD = LVTTL; #LD0
NET "LED1" LOC = "M11" | IOSTANDARD = LVTTL; #LD1
NET "LED2" LOC = "P7" | IOSTANDARD = LVTTL; #LD2
NET "LED3" LOC = "P6" | IOSTANDARD = LVTTL; #LD3
NET "LED4" LOC = "N5" | IOSTANDARD = LVTTL; #LD4
NET "LED5" LOC = "N4" | IOSTANDARD = LVTTL; #LD5
NET "LED6" LOC = "P4" | IOSTANDARD = LVTTL; #LD6
NET "LED7" LOC = "G1" | IOSTANDARD = LVTTL; #LD7
NET "SW0" LOC = "P11" | IOSTANDARD = LVTTL; #SW0
NET "SW1" LOC = "L3" | IOSTANDARD = LVTTL; #SW1
NET "SW2" LOC = "K3" | IOSTANDARD = LVTTL; #SW2
NET "SW3" LOC = "B4" | IOSTANDARD = LVTTL; #SW3
NET "SW4" LOC = "G3" | IOSTANDARD = LVTTL; #SW4
NET "SW5" LOC = "F3" | IOSTANDARD = LVTTL; #SW5
NET "SW6" LOC = "E2" | IOSTANDARD = LVTTL; #SW6
NET "SW7" LOC = "N3" | IOSTANDARD = LVTTL; #SW7
NET "PSW0" LOC = "G12" | IOSTANDARD = LVTTL; #BTN0
NET "PSW1" LOC = "C11" | IOSTANDARD = LVTTL; #BTN1
NET "PSW2" LOC = "M4" | IOSTANDARD = LVTTL; #BTN2
NET "PSW3" LOC = "A7" | IOSTANDARD = LVTTL; #BTN3
