NET "CLK" LOC = "T8" | IOSTANDARD = LVTTL; #BCLK
NET "LED0" LOC = "N9" | IOSTANDARD = LVTTL; #LED0
NET "LED1" LOC = "P9" | IOSTANDARD = LVTTL; #LED1
NET "LED2" LOC = "R9" | IOSTANDARD = LVTTL; #LED2
NET "LED3" LOC = "T9" | IOSTANDARD = LVTTL; #LED3
NET "LED4" LOC = "L10" | IOSTANDARD = LVTTL; #LED4
NET "LED5" LOC = "M10" | IOSTANDARD = LVTTL; #LED5
NET "LED6" LOC = "R14" | IOSTANDARD = LVTTL; #LED6
NET "LED7" LOC = "T15" | IOSTANDARD = LVTTL; #LED7
NET "SW0" LOC = "P15" | IOSTANDARD = LVTTL; #SW0
NET "SW1" LOC = "P16" | IOSTANDARD = LVTTL; #SW1
NET "SW2" LOC = "J11" | IOSTANDARD = LVTTL; #SW2
NET "SW3" LOC = "J12" | IOSTANDARD = LVTTL; #SW3
NET "SW4" LOC = "J14" | IOSTANDARD = LVTTL; #SW4
NET "SW5" LOC = "J16" | IOSTANDARD = LVTTL; #SW5
NET "SW6" LOC = "M15" | IOSTANDARD = LVTTL; #SW6
NET "SW7" LOC = "M16" | IOSTANDARD = LVTTL; #SW7
NET "PSW0" LOC = "L14" | IOSTANDARD = LVTTL; #PSW0
NET "PSW1" LOC = "L16" | IOSTANDARD = LVTTL; #PSW1
