NET "CLK" LOC = "B8" | IOSTANDARD = LVTTL; #MCLK
NET "LED0" LOC = "M5" | IOSTANDARD = LVTTL; #LD0
NET "LED1" LOC = "M11" | IOSTANDARD = LVTTL; #LD1
NET "LED2" LOC = "P7" | IOSTANDARD = LVTTL; #LD2
NET "LED3" LOC = "P6" | IOSTANDARD = LVTTL; #LD3
NET "PSW0" LOC = "G12" | IOSTANDARD = LVTTL; #BTN0
