NET "CLK" LOC = "T8" | IOSTANDARD = LVTTL; #BCLK
NET "LED0" LOC = "N9" | IOSTANDARD = LVTTL; #LED0
NET "LED1" LOC = "P9" | IOSTANDARD = LVTTL; #LED1
NET "LED2" LOC = "R9" | IOSTANDARD = LVTTL; #LED2
NET "LED3" LOC = "T9" | IOSTANDARD = LVTTL; #LED3
NET "PSW0" LOC = "L14" | IOSTANDARD = LVTTL; #PSW0
