NET "LED0" LOC = "M5" | IOSTANDARD = LVTTL; #LD0
NET "LED1" LOC = "M11" | IOSTANDARD = LVTTL; #LD1
NET "LED2" LOC = "P7" | IOSTANDARD = LVTTL; #LD2
NET "LED3" LOC = "P6" | IOSTANDARD = LVTTL; #LD3

NET "SW0" LOC = "P11" | IOSTANDARD = LVTTL; #SW0
NET "SW1" LOC = "L3" | IOSTANDARD = LVTTL; #SW1
NET "SW2" LOC = "K3" | IOSTANDARD = LVTTL; #SW2
NET "SW3" LOC = "B4" | IOSTANDARD = LVTTL; #SW3
NET "SW4" LOC = "G3" | IOSTANDARD = LVTTL; #SW4
NET "SW5" LOC = "F3" | IOSTANDARD = LVTTL; #SW5
