NET "LED0" LOC = "M5" | IOSTANDARD = LVTTL; #LD0
NET "LED1" LOC = "M11" | IOSTANDARD = LVTTL; #LD1

NET "SW0" LOC = "P11" | IOSTANDARD = LVTTL; #SW0
NET "SW1" LOC = "L3" | IOSTANDARD = LVTTL; #SW1
