NET "LED0" LOC = "N9" | IOSTANDARD = LVTTL; #LED0
NET "LED1" LOC = "P9" | IOSTANDARD = LVTTL; #LED1

NET "SW0" LOC = "P15" | IOSTANDARD = LVTTL; #SW0
NET "SW1" LOC = "P16" | IOSTANDARD = LVTTL; #SW1
